#to-do{
    width: 350px;
    margin: auto;

}
#new-task{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #808080a7;
    border-radius: 4px;
    width: 350px;;
}
#add-task{
    width: 370px;
    background-color: #54df54bc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;

}
#add-task:hover{
    background-color: pink;
    color: #000000;
   
}
#task-list div{
    width: 300px;
   
    display: flex;
    justify-content: end;
}
#task-list li{
    margin: 5px;
    list-style: none;
    color: red;
}
#task-list button{
   border: none;
   border-radius: 5px;
  
}

.Remove-btn{
    background-color: pink;
}