#to-do{
    width: 350px;
    margin: auto;

}
#new-task{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #808080a7;
    border-radius: 4px;
    width: 350px;;
}
#add-task{
    width: 370px;
    background-color: #54df54bc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;

}
#add-task:hover{
    background-color: pink;
    color: black;
}
.task-list{
    display: block;
}
.task-list li{
    display: block;
    color: red;
}

.Remove-btn{
    background-color: pink;
}